#menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
  gap: 16px;

  width: 100%;

  background: rgba(16, 24, 40, 0.4);
  border: 1px solid rgba(16, 24, 40, 0.02);
  box-shadow: 0px 12px 64px 12px rgba(0, 0, 0, 0.32);
  backdrop-filter: blur(12px);

  border-radius: 6px;

  flex: none;
  order: 3;
  flex-grow: 0;
  z-index: 10;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 100%;
}

.section .innerSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 2px;
  width: 100%;
}

.showQuickActionsBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 40px;
  gap: 4px;

  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  color: #ffffff;
  width: 100%;
  opacity: 0.8;

  transition: 0.2s ease;
}
.showQuickActionsBtn:hover {
  opacity: 1;
}
